<h2>Ändra i boken</h2>
<button
type="button"
(click)="goBack()"
class="button"
>Avbryt</button>
<div *ngIf="bok">
  <h3>Titel: {{bok.title | uppercase}}</h3>
  <div><span>ID: </span>{{ bok.id }} titel: {{ bok.title }}</div>
  <form>
    <div
      class="card card-body"
      style="width: 500px"
    >
    <label for="title">Titel:</label>
    <input
      type="text"
      id="title"
      [(ngModel)]="bok.title"
      placeholder="Titel"
      class="form-control"
      required
    >
    <label for="author">Författare: </label>
    <input
      id="author"
      type="text"
      [(ngModel)]="bok.author"
      placeholder="Författare"
      class="form-control"
      required
    >
    <label for="year">Utgivningsår:</label>
    <input
      id="year"
      type="number"
      [(ngModel)]="bok.year"
      placeholder="Utgivningsår"
      min="1700"
      max="2023"
      class="form-control"
      required
    >
    <label for="genre">Genre:</label>
    <select
      id="genre"
      [(ngModel)]="bok.genre"
      placeholder="Genre"
      class="form-control"
      required
    >
    <option value="">Välj Genre</option>
      <option value="fiction">Fiction</option>
      <option value="drama">Drama</option>
      <option value="novel">Novel</option>
      <option value="horror">Horror</option>
      <option value="humour">Humour</option>
      <option value="crime">Crime</option>
    </select>
  </div>
  <button
    type="button"
    class="btn btn-dark"
    (click)="save()"

  >Spara ändringar</button>
  </form>
